body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    background-image: url("menu2.png");
    background-size:cover;
}
#info input{
    width: 48%;
}
h1 {
    text-align: center;
    color: white;
    box-sizing: border-box;
}
form {
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 8px;
    transition: 0.5s;
}
form:hover{
    box-shadow: 4px 4px 30px black;
}
/*.labelname {
    margin: 5px 0 5px;
    color: orangered;
    border: 2px solid black;
}*/
input{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;

}
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.menu {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.menu h3 {
    margin-top: 0;
    color: #444;
    text-align: center;
}
.menu-item {
    display:block;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}
.menu-item:last-child {
    border-bottom: none;
}
.menu-item input {
    margin-right: 30px;
    justify-content: start;
}
.price {
    color: #888;
    font-weight: bold;
    margin-right: 30px;
    text-align: right;
}
button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}



